{% extends "layout.html" %}
{% block twitter_card %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@pmrowla" />
<meta name="twitter:title" content="Produce 101 Member Rankings" />
<meta name="twitter:description" content="Current top five:{% for i in top_five %} {{ loop.index }}: {{ i.name_kr }}{% endfor %}" />
<meta name="twitter:image" content="{{ url_for('static', filename='public/img/' ~ top_five[0].id ~ '_thumb.jpg', _external=True) }}" />
{% endblock %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="body-content">
  <div class="page-header">
    <h1>Produce 101 Member Rankings</h1>
  </div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#live" role="tab" data-toggle="tab">Live stats</a></li>
    <!--<li role="presentation" class="disabled"><a href="#trends" role="tab" data-toggle="tab">Trends</a></li>-->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="idol-live-tab">
    </div><!-- /.tabpanel -->

    <div role="tabpanel" class="tab-pane fade" id="trends">
    </div><!-- /.tabpanel -->
  </div><!-- /.tab-content -->
</div><!-- /.body-content -->
{% endblock %}
