
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="body-content">
  <h1>Current Member Ranking</h1>
  <div class="row">
    <div class="col-lg-8">
      <table class="table">
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Agency</th>
          <th>Votes</th>
        </tr>
        {% for idol in idols %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ idol.name_kr }}{% if idol.name_en %} ({{ idol.name_en }}){% endif %}</td>
          <td>{{ idol.agency }}</td>
          <td>{{ '%.02f%%'|format(idol.vote_percentage) }}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

